<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/" method="GET">
                .minify/url
            </a>
            <ul class="nav navbar-nav">
            <li><a href="/createURL" method="GET" style="font-size: 20px">New</a></li>
            <li><a href="/myList" method="GET" style="font-size: 20px">MyList</a></li>
            </ul>

            <p>Hello <%= username %> </p>
            <form  method="POST" action="logout">
            <input class="navbar-default" type="submit" value="logout">
            </form>

        </div>
    </div>
</nav>
