<!DOCTYPE html>
<html lang="en">
  <head>
  <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <p>Enter URL</p>
    <form action="/submitURL" method="POST">
     <label for="longURL">http://www.</label>
      <input id="longURL" type="text" name="longURL" placeholder="example.com">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
