<!DOCTYPE html>
<html lang="en">
  <head>
  <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <p>Edit longURL:<p>
    <form method="POST" action=<%= "/url/edit/" + shortURL %>>
    <input name="longURL" type="text" placeholder=<%= longURL %> >
    <input type="submit" value="Update">
    </form>
  </body>
</html>
