<!DOCTYPE html>
<html lang="en">
  <head>
  <% include partials/head %>
  </head>
  <body style="font-size:61px; padding:150px;">

    <% include partials/header %>

    <p style="font-size: 25px;">Here's your new smartURL:<p>
    <a target="_blank" href= <%= "long/" + longURL %> > <%= shortURL %></a> ---><%= "www." + longURL %> <!-- what is displayed -->


  </body>
</html>