<!DOCTYPE html>
<html lang="en">
  <head>
  <% include partials/head %>
  </head>
  <body>
    <p>Register<p>
    <form method="POST" action="/register">
    <input name="email" type="email" placeholder="username@email.com">
    <input name="password" type="password" placeholder="password">
    <input type="submit" value="SignUp">
    </form>
    <a href="/login">Login</a>
  </body>
</html>
