<!DOCTYPE html>
<html lang="en">
  <head>
  <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
      <ul>
        <li ><a href="url_show" method="GET">your short URL 1</a></li>
      </ul>
    </form>
  </body>
</html>
